.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url('./LuckiestGuy-Regular.ttf');
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: navy;
  color: white;
  font-size: 60px;
  font-family: "LuckiestGuy";
}

.separation {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  background: rgb(125,125,125);
  background: radial-gradient(circle, rgba(125,125,125,1) 0%, rgba(83,83,83,1) 100%); 
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.fin {
  height: 40px;
  filter: invert(100)
}

.main {
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  flex-grow: 1;
}

.footer {
  display: flex;
  height: 50px;
  background: rgb(125,125,125);
  background: radial-gradient(circle, rgba(125,125,125,1) 0%, rgba(83,83,83,1) 100%);
  justify-content: center;
  align-items: center;
  color: white; 
}